<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <!-- Enable features -->
  <featureManager>
    <feature>microProfile-3.3</feature>
  </featureManager>

  <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
  <httpEndpoint id="defaultHttpEndpoint" host="*"
		httpPort="9080" httpsPort="9443">
  </httpEndpoint>

   <basicRegistry id="basic" realm="WebRealm">
    <user name="${env.USERNAME}" password="${env.PASSWORD}" />
  </basicRegistry>

  <administrator-role>
      <user-access-id>user:WebRealm/${env.USERNAME}</user-access-id>
  </administrator-role>

  <!-- Basic User Registry not to be used on /booking URL requests -->
  <authFilter id="mpJwtAuthFilter">
    <requestUrl id="request" urlPattern="/booking" matchType="notContain" />
  </authFilter>

  <mpJwt id="jwtUserConsumer" authFilterRef="mpJwtAuthFilter" ignoreApplicationAuthMethod="false" mapToUserRegistry="true" />

  <webApplication name="acmeair-bookingservice" location="acmeair-bookingservice-java-3.3.war" contextRoot="/booking">
    <classloader apiTypeVisibility="api,ibm-api,spec,stable,third-party"/>
  </webApplication>
	
  <cors domain="/booking"
    allowedOrigins="*"
    allowedMethods="GET, DELETE, POST, OPTIONS"
    allowedHeaders="*"
    allowCredentials="true"
    maxAge="3600" />
</server>
